{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<div class="content-section">
   	<form method="POST">
   		{% csrf_token %}
   		<fieldset class="form-group">
   			<legend class="border-border mb-4">Comment Section</legend>
   			{{form|crispy}}
   		</fieldset>
   		<input type="submit" name="Submit" value="Add Comment" class="btn btn-success">
   		<a class="btn btn-primary" href="{% url 'blog-home' %}"><i class="bi bi-house"></i> Go to Home</a>
   	</form>
</div>
<br>
{{ total_comment }} Comment{{ total_comment|pluralize  }}  
<hr>
<div class="main-comment-section">
  {% for comment in comments %}
  <blockquote class="blockquote">
  <p class="mb-0"aaaaaa>{{ comment.content }}</p>
  {% if request.user == comment.user %}
  <a href="{% url 'delete-comment' comment.id %}" class="btn btn-outline-danger float-right">Delete</a>
  {% endif %}
  <footer class="blockquote-footer">By {{ comment.user }}</footer>
  </blockquote>
  <hr>
  {% endfor %}
</div>

{% endblock content %}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
</svg>